<h3>Biblioteca >> Calcular Multa de Emprestimo</h3>

<ul>
	<li>
		<a href="/somar">Para: Livros</a>
	</li>
	<li>
		<a href="/subtrair">Para: Obras de Referencia</a>
	</li>
	<li>
		<a href="/multiplicar">Para: Revista</a>
	</li>
	<li>
		<a href="/dividir">Para: Jornal</a>
	</li>
</ul>
